body
{
  background-color: black;
}


h1,h2,h3,p,li
{
  color: white;
}


nav,ul.popular-brand 
{
  background-color: #ff1387;
  
}

.container {
  width: 1160px;
  margin: 0 auto;
}

ul.user-functions-middle li,ul.user-functions-bottom li
 {
   display: inline-block; /* Отображать как строчный элемент */
   
 
  }

  
 ul.popular-brand li 
 {
   display: inline-block; /* Отображать как строчный элемент */
   
 
  }

.visually-hidden 
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}