body {
  background-color: black;
  font-family: "Gilroy";
  font-size: 20px;
}


h1,h2,h3,p,li {
  color: white;
}

div.header-block {
border: 1px solid #ccc;


}

ul.popular-brands li,
footer {
  background-color: #ff1385de;
  
}

.container {
  width: 1160px;
  margin: 0 auto;
}



ul.user-functions-middle li,ul.user-functions-bottom li, ul.footer-top-line li,
ul.footer-middle-line li {
  display: inline-block; /* Отображать как строчный элемент */
  

}


ul.bestoffer li, ul.partners-list li {
  display: inline-block; 
  
}
  
ul.partners-list li {
  background-color: honeydew;
}
 
  
ul.popular-brands li {
  display: inline-block; 


}

  div.service-control {
  background-color:#C0C0C0;
  
}
 

div.service-control ul {
  display: inline-block; 
}
  
ul.service-description p,h3,li {
  color: #ff1387;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

