body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;

  background-color: black;
}

a {
  text-decoration: none;
}


/* Header */
.main-navigation {
  font-size: 20px ;
  line-height: 20px;
  color: white;

  background-color: black;
}

.search-form input {
  font: inherit;
  
  color: #ff1385de;

  background-color: transparent;
  border-color: #ff1385de;
}

.user-functions,
.user-navigations {
  list-style: none;
  padding: 0;
}

.user-functions a,
.user-navigations a {
  color: inherit;
 
}

.user-functions a:hover,
.user-functions a:focus,
.user-navigations a:hover,
.user-navigations a:focus {
  background-color: #ff1385de;
}

/*Main */
/*Main column-bestoffer */
.column-bestoffer h2 {
  font-size: 25px;
}

.index-columns {
  color: white;
}

.img-circle {
  
  border-radius: 120px;
  border: 3px solid #ff1385de;
  box-shadow: 0 0 7px #ff1385de;
}

.bestoffer-list {
  list-style: none;
  padding: 0;
}


.bestoffer-item {
  text-align: center;
  display: inline-block;
}

.bestoffer-item p {
  font-size: 25px;
}

/*MAIN column-brands*/

.brands-list {
  list-style: none;
  padding: 0;
  
}

.brands-item {
  display: inline-block;
  background-color: #ff1385de;
}

.brands-item p {
  font-size: 30px;
  color: white;
}

/*Main column-advantages*/
 
.column-advantages {
  color: #ff1385de;

  background-color: #d1d0d0;
}

.column-advantages h2 {
  font-size: 20px;
}

.column-advantages h3 {
  font-size: 20px;
}

.column-advantages p {
  font-size: 16px;
}

/*Main column-partners*/
.column-partners h2 {
  font-size: 20px;
  color: #ff1385de;
}

.partners-list {
  list-style: none;
  padding: 0;
}

.partners-item {
  background-color: white;
  margin: 10px;
}

/*Main column-about*/
.column-about a {
  color: white;
  text-decoration: underline;
}

.column-about h2 {
  font-size: 20px;
  color: #ff1385de;
}

.column-about p {
  font-size: 16px;
}

/*Main column-contacts*/


.column-contacts h2 {
  font-size: 20px;
  color: #ff1385de;
}
 .column-contacts p,
 .column-contacts p a {
   font-size: 16px;
   color: white;
 }

 /* Modal */
.modal {
  background-color: #ff1385de;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: black;
  text-transform: uppercase;
}

/*
body {
  background-color: black;
  font-family: "Gilroy";
  font-size: 20px;
}


h1,h2,h3,p,li {
  color: white;
}

div.header-block {
 border: 1px solid #ccc;
}

ul.popular-brands li,
footer {
  background-color: #ff1385de;
  
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.bestoffer {
  padding: 0;
}

ul.user-functions-middle li,
ul.user-functions-bottom li,
ul.footer-top-line li,
ul.footer-middle-line li {
  display: inline-block; 
  

}


ul.bestoffer li, ul.partners-list li {
  display: inline-block; 
  
}
  
ul.partners-list li {
  background-color: honeydew;
}
 
  
ul.popular-brands li {
  display: inline-block; 


}

  div.service-control {
  background-color:#C0C0C0;
  
}
 

div.service-control ul {
  display: inline-block; 
}
  
ul.service-description p,h3,li {
  color: #ff1387;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*/

